@model student.Models.hf
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(t => t.hf_content)
    @Html.TextAreaFor(t => t.hf_content)<br />
    <input type="submit" value="新增保存" />
}